.picsPair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border: 3px solid white;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 white;
}

.versus {
    padding: 0 15px;
    color: white;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picsPair img {
    height: 400px;
    width: 400px;
}

.picsPair img:hover {
    height: 400px;
    width: 400px;
}