.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 18px;
  color: white;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.picInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgb(203, 95, 236);
  color: rgb(214, 105, 165);
  font-size: 30px;
  font-family: Arial,sans-serif;
  font-weight: normal;
  line-height: 15px;
  height: 30px;
  max-width: 100%;
  width: 500px;
  outline: none;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px;
}